/build/
/buildSrc/build/
/target/
/lib/
.classpath
.gradle/
.project
.settings/
.idea
/bin/
.springBeans
.DS_Store
*.iml
*.swp
*.ipr
*.iws
/out/
/buildSrc/out/
platops
/performance/project/
/performance/target/